Repository SpareBank1/monorepo-sample: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project app1, Build project app2

Jenkinsfile:

pipeline {
//   agent {
//        docker {
//            image 'docker.io/library/maven:3.6.1-jdk-8'
//            args '-v /var/jenkins_home/workspace/mono-pipeline:/opt/maven -w /opt/maven'
//        }
//    }

    agent any

//     stages {
//         stage('Build the world') {
//             steps {
//                 sh 'mvn clean install'
//             }
//         }
//
//     }

    stages {
        stage('Build project app1') {
            when {
                changeset "apps/app1/*"
            }
            steps {
                build 'app1-multi-build'
            }
        }
        stage('Build project app2') {
            when {
                changeset "apps/app2/*"
            }
            steps {
                build 'app2-multi-build'
            }
        }
    }
}

update Jenkinsfile
  Jenkinsfile
Due: none

app1 build
  apps/app1/trigger.txt
Due: Build project app1

build both
  apps/app1/trigger.txt
  apps/app2/trigger.txt
Due: Build project app1, Build project app2

build both
  Jenkinsfile
Due: none

build both
  apps/app1/trigger.txt
Due: Build project app1

build both
  apps/app2/trigger.txt
Due: Build project app2

update Jenkinsfile
  apps/app1/trigger.txt
Due: Build project app1

build
  Jenkinsfile
Due: none

update Jenkinsfile
  apps/app1/Jenkinsfile
Due: Build project app1
